<div>
    <section class="eyp-wrapper">
        <div class="eyp-header-container">
            <div class="eyp-header">
                <h4 v-for="(video, i) of videoItems">
                    <span style="color: red !important; font-weight: bolder !important;">Video:&nbsp;</span>
                    <a target="_blank" :href="`https://www.youtube.com/watch?v=${video.id}`">
                        {{ video.title }}
                    </a>
                </h4>
            </div>
        </div>
        <div class="eyp-subscription-container">
            <div class="g-ytsubscribe" :data-channelid="channelId" data-layout="default" data-count="default"></div>
        </div>
        <div v-if="playerSrc" v-html="playerSrc" class="eyp-container"></div>
    </section>
</div>
